/* .houseCard {
  width: 100%;
} */
.link_card {
  text-decoration: none;
  color: inherit;
}

/* head */
.cardHead {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 600;
}

.ownerInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ownerInfo .gender {
  color: var(--blue-clr);
}

.houseCardImg {
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
.houseCardImg img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeInfo1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: var(--blue-clr);
  font-weight: 500;
}
.homeInfo2 {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}

.rentInRupee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  color: var(--green-clr);
}
.rentInRupee button {
  background-color: var(--blue-clr);
  padding: 10px;
  background: rgb(37, 24, 126);
  background: linear-gradient(
    90deg,
    rgba(37, 24, 126, 1) 14%,
    rgba(12, 6, 52, 1) 100%
  );
  color: var(--white-clr);
  font-size: 18px;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* For desktop view: 4 cards per row with equal width */
/* @media (min-width: 1251px) {
  .houseCard {
    width: calc(25% - 10px);
    margin-bottom: 20px;
  }
} */

/* For tablet view: 3 cards per row with equal width */
@media (min-width: 1181px) {
  .houseCard {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1180px) {
  .rentInRupee button {
    font-size: 16px;
  }
  .houseCard {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

/* For mobile view: 1 houseCard per row with 100% width */
@media (max-width: 799px) {
  .houseCard {
    width: 100%;
    margin-bottom: 20px;
  }
  .houseCardImg {
    height: 350px;
  }
  .homeInfo1 {
    font-size: 16px;
  }
  .homeInfo2 {
    font-size: 16px;
  }
  .rentInRupee {
    font-size: 18px;
  }
}
@media (max-width: 540px) {
  .houseCardImg {
    height: 300px;
  }
}
